@tailwind preflight;

* {
  font-family: "ABeeZee";
}

.main {
  @apply flex flex-col items-center;
}

.person {
  @apply flex items-center cursor-pointer;
}

.person:hover {
  @apply text-blue-dark;
}

.person img {
  @apply w-16 h-16;
}

.selectedPeople {
  @apply flex flex-wrap;
}

.selectedPeople img {
  @apply w-32 h-32;
}

.selectedPerson {
  @apply relative cursor-pointer;
}

.selectedPerson h2 {
  @apply text-red absolute hidden text-5xl pt-1 pl-1;
  line-height: 24px;
}

.selectedPerson:hover h2 {
  @apply block z-10;
}

.selectedPerson:hover img {
  filter: brightness(50%);
}

@tailwind utilities;
