@tailwind preflight;

* {
  font-family: "ABeeZee";
}

.remove:hover:after {
  content: "𝙓";
}

.add:hover:after {
  content: "➕";
}

.info:hover:after {
  content: "ℹ️";
}

a,
a:visited {
  @apply text-black;
}

@tailwind utilities;
